/*
* CHANGE THIS: This configuration file is the one used when indicating the Nextflow parameter -profile hpc_sge
*/

process {
    // CHANGE THIS: definition of the SGE executor. Run the pipeline in a node able to submit jobs to a HPC via qsub
    
    beforeScript = 'module purge && module load Singularity/3.7.0'


    // resources for default process executiono
    executor = 'crg'
    queue = 'short-centos79,long-centos79,rg-el7'
    memory='5G'
    cpus='1'
    time='1h'

        withLabel: 'singlecpu' {
	    executor = 'crg'
            queue = 'short-centos79,long-centos79,rg-el7'
            memory='3G'
            cpus='1'
            time='1h'
        }

        withLabel: 'fourcpus' {
            executor = 'crg'
            queue = 'short-centos79,long-centos79,rg-el7'
	    memory='20G'
            cpus='4'
            time='2h'
        }

}
